* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #343a40;
    border: none;
}
body {
    background: #007EFF;
}
form{
    margin-top: 30px;
    margin-bottom: 40px;
}
label{
    text-align: left;
    display: block;
}
#login-container{
    background-color: #FFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}
.titulo{
    color: #007EFF;
    font-size: large;
}
.btn-entrar{
    border: 2px solid #007EFF;
    background: none;
    position: relative;
    color: #007EFF;
    z-index: 1;
    border-radius: 30px;
    height: 100%;
}
.btn-entrar:hover{
    color: #FFF;
    background: #007EFF;
    border-color: #007EFF;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}