{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <div class="my-5">
        <div style="text-align: center;">
            <img class="boundingboxcadastro_rec" src="{{ url_for('video') }}">     
            <div id="blanket"></div>
            <div id="aguarde"><img src="../static/img/gif/gif-2.gif" height="60" alt=""></div>
        </div>
        <div class="mt-2" style="text-align: center;">
            <a href="{{url_for('print_', id=id)}}" class="btn col-md-2 btn-cadastrofoto">Salvar</a>
            <a href="{{ url_for('treinar_usuarios') }}" class="btn col-md-2 btn-treinamento">Treinar</a>
        </div>       
    </div>
</div>
{% endif %}  
{% endblock %}